---
title: "calibration"
basedOn: "default.yaml"
# scope and resolution
granularity: lowGran
periods: [2000, 2005, 2010, 2015, 2020, 2025, 2030, 2035, 2040, 2045, 2050]
startyear: 2005
calibperiods: [2005, 2010]
regionmapping: ["regionmappingEU27as9.csv", "mredgebuildings"]
regions: ["EWN", "ECS", "ESC", "ECE", "DEU", "ENC", "ESW", "FRA", "IRL"]
matchingRun: 2025-12-05_fixedBuildings
ignoreShell: TRUE
statusQuoPreference: 0
reportingTemplate: lowGran_ignoreShell
ltEternalShare: 0.05
# switches
switches:
  RUNTYPE: calibration
  CALIBRATIONMETHOD: logit
  FIXEDBUILDINGS: TRUE
  SEQUENTIALREN: TRUE
...
